/* обычные точки - круглые, светло-серые */
.custom-carousel .slick-dots {
  bottom: 20px !important;
  text-align: center !important;
}

.custom-carousel .slick-dots li button {
  background: #D1D5DB !important; 
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
  opacity: 1 !important;
}

/* активная точка - зеленая, круглая */
.custom-carousel .slick-dots li.slick-active button {
  background: #46A358 !important; 
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;     /* Firefox */
}