@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@import "tailwindcss";
@font-face {
  font-family: 'Gilroy-Ligght';
  src: url('../public/fonts/Gilroy-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('../public/fonts/Gilroy-ExtraBold.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-Black';
  src: url('../public/fonts/Inter-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-BlackItalic';
  src: url('../public/fonts/Inter-BlackItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('../public/fonts/Inter-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-BoldItalic';
  src: url('../public/fonts/Inter-BoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-ExtraBold';
  src: url('../public/fonts/Inter-ExtraBold.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-ExtraBoldItalic';
  src: url('../public/fonts/Inter-ExtraBoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-ExtraLight';
  src: url('../public/fonts/Inter-ExtraLight.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-ExtraLightItalic';
  src: url('../public/fonts/Inter-ExtraLightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-Italic';
  src: url('../public/fonts/Inter-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-Light';
  src: url('../public/fonts/Inter-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-LightItalic';
  src: url('../public/fonts/Inter-LightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('../public/fonts/Inter-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-MediumItalic';
  src: url('../public/fonts/Inter-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('../public/fonts/Inter-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('../public/fonts/Inter-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-SemiBoldItalic';
  src: url('../public/fonts/Inter-SemiBoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-Thin';
  src: url('../public/fonts/Inter-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-ThinItalic';
  src: url('../public/fonts/Inter-ThinItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter-V';
  src: url('../public/fonts/Inter-V.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('../public/fonts/Montserrat-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-BlackItalic';
  src: url('../public/fonts/Montserrat-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../public/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-BoldItalic';
  src: url('../public/fonts/Montserrat-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('../public/fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-ExtraBoldItalic';
  src: url('../public/fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url('../public/fonts/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-ExtraLightItalic';
  src: url('../public/fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Italic';
  src: url('../public/fonts/Montserrat-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../public/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-LightItalic';
  src: url('../public/fonts/Montserrat-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../public/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-MediumItalic';
  src: url('../public/fonts/Montserrat-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../public/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../public/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-SemiBoldItalic';
  src: url('../public/fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Thin';
  src: url('../public/fonts/Montserrat-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-ThinItalic';
  src: url('../public/fonts/Montserrat-ThinItalic.ttf') format('truetype');
}


@font-face {
  font-family: 'Onest-Black';
  src: url('../public/fonts/Onest-Black.ttf') format('opentype');
}

@font-face {
  font-family: 'Onest-Bold';
  src: url('../public/fonts/Onest-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Onest-ExtraBold';
  src: url('../public/fonts/Onest-ExtraBold.ttf') format('opentype');
}

@font-face {
  font-family: 'Onest-ExtraLight';
  src: url('../public/fonts/Onest-ExtraLight.ttf') format('opentype');
}

@font-face {
  font-family: 'Onest-Light';
  src: url('../public/fonts/Onest-Light.ttf') format('opentype');
}

@font-face {
  font-family: 'Onest-Medium';
  src: url('../public/fonts/Onest-Medium.ttf') format('opentype');
}

@font-face {
  font-family: 'Onest-Regular';
  src: url('../public/fonts/Onest-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Onest-SemiBold';
  src: url('../public/fonts/Onest-SemiBold.ttf') format('opentype');
}

@font-face {
  font-family: 'Onest-Thin';
  src: url('../public/fonts/Onest-Thin.ttf') format('opentype');
}
